@import url('https://fonts.googleapis.com/css2?family=Roboto');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.app-header {
  color: #fff;
  background-color: #39f;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 15px;
}

.app-title {
  font-size: 23px;
}

.tabs-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #39f;
}

.tabs-nav .tab {
  flex: 1;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.router-link-exact-active {
  text-decoration: underline !important;
}