@import url('https://fonts.googleapis.com/css2?family=Roboto');

:root {
  --primary-bg-color: #39f;
  --primary-text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

.appHeader {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  text-align: center;
  padding: 15px 0;
  margin-bottom: 15px;
}

.addHeader__title {
  font-size: 23px;
}

.tabsNav {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: var(--primary-bg-color);
}

.tabsNav__tab {
  flex: 1;
  text-align: center;
  color: var(--primary-text-color);
  text-decoration: none;
  font-size: 20px;
}

.router-link-exact-active {
  text-decoration: underline !important;
}

.shoppingList {
  display: flex;
  flex-direction: column;
}

.shoppingList__card {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  padding: 20px;
  margin: 10px;
}

.shoppingList__cardName {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span.shoppingList__cardName__quantity {
  font-style: italic;
  font-weight: bold;
}

.shoppingList__cardDepartment {
  margin-top: 15px;
  font-size: 17px;
  text-align: center;
}

form.addItemForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addItemForm__inputWrapper {
  width: 90%;
  padding: 10px;
}

.addItemForm__inputWrapper input,
.addItemForm__inputWrapper select {
  width: 100%;
  height: 40px;
  font-size: 19px;
}

.addItemForm__inputWrapper label {
  font-size: 20px;
  margin-bottom: 11px;
  display: block;
  font-weight: bold;
}

button.btnPrimary {
  border: none;
  background-color: #39f;
  color: #fff;
  padding: 10px 25px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #39f;
  transition: .3s all;
  margin-top: 10px;
}

button.btnPrimary:hover {
  background: transparent;
  color: #000;
}