@import url('https://fonts.googleapis.com/css2?family=Roboto');

:root {
  --primary-bg-color: #39f;
  --primary-text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

.appHeader {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  text-align: center;
  padding: 15px 0;
  margin-bottom: 15px;
}

.addHeader__title {
  font-size: 23px;
}

.tabsNav {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: var(--primary-bg-color);
  border-top: 1px solid var(--primary-text-color);
}

.tabsNav__tab {
  flex: 1;
  text-align: center;
  color: var(--primary-text-color);
  text-decoration: none;
  font-size: 20px;
}

.router-link-exact-active {
  text-decoration: underline !important;
}

.home {
  margin-bottom: 65px;
}

.empty {
  text-align: center;
  margin-top: 75px;
  font-size: 22px;
  font-weight: bold;
}

.shoppingList {
  display: flex;
  flex-direction: column;
}

.shoppingList__card {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  padding: 20px;
  margin: 10px;
}

.shoppingList__cardName {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span.shoppingList__cardName__quantity {
  font-style: italic;
  font-weight: bold;
}

.shoppingList__cardDepartment {
  margin-top: 15px;
  font-size: 18px;
  text-align: center;
  font-style: italic;
}

form.addItemForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addItemForm__inputWrapper {
  width: 90%;
  padding: 10px;
}

.addItemForm__inputWrapper input,
.addItemForm__inputWrapper select {
  width: 100%;
  height: 40px;
  font-size: 19px;
  border: 1px solid #000;
}

.addItemForm__inputWrapper label {
  font-size: 20px;
  margin-bottom: 11px;
  display: block;
  font-weight: bold;
}

.addItemForm__error {
  margin-top: 10px;
  color: red;
}


button.btnPrimary {
  border: none;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  padding: 10px 25px;
  font-size: 18px;
  text-align: center;
  border: 1px solid var(--primary-bg-color);
  transition: .3s all;
  margin-top: 10px;
}

.shoppingList__actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}

button.btnPrimary:hover {
  background: transparent;
  color: #000;
}

button.btnPrimary.delete {
  background-color: #f0506e;
  border: 1px solid #f0506e;
}

button.btnPrimary.edit {
  background-color: #222;
  border: 1px solid #222;
  color: #fff;
}

.modalWrapper {
  display: none;
}

.modalWrapper.open {
  display: block;
}

.modalWrapper__overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #000000ab;
  z-index: 10000;
}

.modalWrapper_modal {
  position: fixed;
  z-index: 10010;
  background: #fff;
  top: 10%;
  /* left: 50%; */
  width: 100%;
    /* margin: 20px 12px; */
  padding: 20px;
}

.modalWrapper_modal .addItemForm__inputWrapper,
.modalWrapper_modal .addItemForm__inputWrapper {
  padding: 0;
  width: 100%;
  margin-bottom: 15px;
}

.modalWrapper_modal .addItemForm__inputWrapper input,
.modalWrapper_modal .addItemForm__inputWrapper select {
  height: 30px;
  border: 1px solid #000;
}

.modalWrapper_modalForm>form .addItemForm__inputWrapper:last-child {
  display: flex;
  justify-content: space-between;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}
